#################
#
# What is an alias?
#       An alias is a command that allows you to make up new commands as abbreviations for longer, more complex commands.
#           Perhaps you want to alias 'ls' to 'ls -a' if you always want to show all files available in that directory.
#           Or maybe you want to alias 'script' to '/path/to/some/script/' because 'script' is much easier to type than the full path every time.
#
# For more information please visit: https://linuxhandbook.com/zsh-aliases/
#
#################


