#################
#
# What is a function?
#       A function is like an alias, but more complex. Most noteably functions can accept command line arguments and have
#           condtional logic.
#
#        You can think of a function as a complex alias or a mini program.
#
# For more information please visit: https://linuxhandbook.com/zsh-aliases/
#
#################


